/*****fonts*******/
@font-face {
    font-family: 'playfair_displayregular';
    src: url('../css/fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../css/fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../css/fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'josefin_sansregular';
    src: url('../css/fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'journalregular';
    src: url('../css/fonts/journal-webfont.woff2') format('woff2'),
         url('../css/fonts/journal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/****Global******/
h1, h4 {
    font-family: 'bebas_neue_regularregular';
    font-size: 5em;    
}
h4.footer-right {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
h2 {
   font-family: 'josefin_sansregular';
   font-size: 2.5em;
}
h3 {
   font-family: 'josefin_sansregular';
   font-size: 1.75em;
}


.btn {
     font-family: 'josefin_sansregular';
     font-size: 1.15em;
}
p, .jumbotron p, li {
     font-family: 'playfair_displayregular';
     font-size: 16px;
}
blockquote {
  font-family: 'journalregular';  
  font-size: 2.25em;
}
.nav {
    font-size: 1.5em;
}
.logo {
    margin-bottom: 5em;
}
.jumbotron {
    margin-bottom: 0;
    background-color: white;
    border: 1px solid #e3e3e3;
}
.well {
    height: 215px;
    background-color: white;
}
.btn-info {   
      color: #ffffff; 
      background-color: #526991; 
      border-color: #130269; 
} 
    .btn-info:hover, 
    .btn-info:focus, 
    .btn-info:active, 
    .btn-info.active, 
    .open .dropdown-toggle.btn-info { 
      color: #ffffff; 
      background-color: #788087; 
      border-color: #130269; 
} 
    .btn-info:active, 
    .btn-info.active, 
    .open .dropdown-toggle.btn-info { 
      background-image: none; 
} 
/***Main Sections*****/
.metalic { 
			background: url('../images/metalic.jpg') 100% 0 fixed; 
			height: auto;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 125px 0;
		}
#home { 
			background: url('../images/scienceA.png') 50% 0 fixed; 
			height: 100%;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 200px 0;
		}
#contact { 
			background: url('../images/about.png') 50% 0 fixed; 
			height: auto;
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 100px 0;
		    color: #fff;
		}
#pubs-list {
		    background: url('../images/scienceB.png') 100% 0 fixed; 
            background-repeat: no-repeat;
            height: auto;  
            margin: 0 auto; 
            position: relative; 
            box-shadow: 0 0 50px rgba(0,0,0,0.8);
            padding: 125px 0; 
		}
/******Misc. Sections****/		
.pubs {  
     margin: 7em auto 10em;
     text-align: center;
    }
 

.media {
    padding-right: 2em;
}

 .footer-right {
     padding-left: 5em;
 }
/**********header*********/

/**********what section*******/

/***********bio section*******/
#bio {
    padding-top: 5em;
}
#john-image {
    max-height: 350px;
}
hr {
   border-left: 3px solid #eee;
}
.biopara {
    line-height: 2;
}
blockquote {
    margin: 2em 1em;
}
.publication-btn {
    font-size: 20px;
}
#pubs-list h2, #pubs-list h3 {
    color: #fff;
}
/********need******/
.need {
    margin: 10em auto;
        }
