html{
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
body{
    border: 0;
    margin: 0;
    padding: 0;   
}

/*****fonts*******/
@font-face {
    font-family: 'playfair_displayregular';
    src: url('../css/fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../css/fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../css/fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'josefin_sansregular';
    src: url('../css/fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'journalregular';
    src: url('../css/fonts/journal-webfont.woff2') format('woff2'),
         url('../css/fonts/journal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/****Global******/
h1, h4 {
    font-family: 'bebas_neue_regularregular';
    font-size: 5em;    
}
h4.footer-right {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
h2 {
   font-family: 'josefin_sansregular';
   font-size: 2.5em;
}
h3 {
   font-family: 'josefin_sansregular';
   font-size: 1.75em;
}

.btn {
     font-family: 'josefin_sansregular';
     font-size: 1.15em;
}
a, p, .jumbotron p, li {
     font-family: 'playfair_displayregular';
     font-size: 16px;
}
blockquote {
  font-family: 'journalregular';  
  font-size: 2.25em;
}
.nav {
    font-size: 1.5em;
}
.logo {
    margin-bottom: 5em;
}
.jumbotron {
    margin-bottom: 0;
    background-color: white;
    border: 1px solid #e3e3e3;
}

.btn-info {   
      color: #ffffff; 
      background-color: #b30000; 
      border-color: #330000; 
      margin-top: 2px;
} 
    .btn-info:hover, 
    .btn-info:focus, 
    .btn-info:active, 
    .btn-info.active, 
    .open .dropdown-toggle.btn-info { 
      color: #ffffff; 
      background-color: #330000; 
      border-color: #b30000; 
} 
    .btn-info:active, 
    .btn-info.active, 
    .open .dropdown-toggle.btn-info { 
      background-image: none; 
} 
/***Main Sections*****/
.metalic { 
			background: url('../images/metalic.jpg') 100% 0 fixed; 		
			height: 100%;  
            margin: 0 auto; 
            width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 125px 0;
		}
#home { 
			background: url('../images/scienceA.png') 50% 0 fixed; 
			height: 100%;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 200px 0;
		}
#contact { 
			background: url('../images/about.png') 50% 0 fixed; 
			height: auto;
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 100px 0;
		    color: #fff;
		}
#pubs-list {
		    background: url('../images/scienceB.png') 100% 0 fixed; 
            background-repeat: no-repeat;
            height: auto;  
            margin: 0 auto; 
            width: 100%; 
            position: relative; 
            box-shadow: 0 0 50px rgba(0,0,0,0.8);
            padding: 125px 0; 
		}
#about {
		  margin-top: 2rem;
		  margin-bottom:2rem
		      
		}
/******Misc. Sections****/		
.pubs {  
     padding:3em;
     text-align: center;
    }
 
.media {
    padding-right: 2em;
}

 
/**********header*********/
@media (max-width: 770px) {
    .banner {
        text-align: center;
    }
    .banner h1, .page-header h1 {
        font-size: 36px;
        text-align: center;
    }
    h3 {
        font-size: 1.2em;
    }
    .header-img {
        max-width: 50%  
    }
    blockquote {
        font-size: 1.75em;
    }
}        
/**********what section*******/

/***********bio section*******/
#bio {
    padding-top: 5em;
}
#john-image {
    max-height: 350px;
}
hr {
   border-left: 3px solid #eee;
}
.biopara {
    line-height: 2;
}
blockquote {
    margin: 2em 1em;
}
.publication-btn {
    font-size: 20px;
    margin: .75em;
}
#pubs-list h2, #pubs-list h3 {
     text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.4);
    color: #fff;
}
/********need******/
.need {
    margin: 10em auto;
        }
/*******footer*******/
.footer-right {
     padding-left: 5em;
 }
.media-object {
    max-height: 110px;
}
@media (max-width: 770px) {
    #contact {
        padding: 50px 0;
    }
}        
 
/***OPTION****
 .my-row {
    overflow: hidden;
}   
       
 .my-row [class*="col-"]  {
     margin-bottom: -99999px;
     padding-bottom: 99999px;
 } *****/

/****OPTION***
 .row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}*****/

/****OPTION****
 .is-flex {
    display: table;
}

.is-flex .test {

    display: table-cell;
    vertical-align: top;
}
*****/
@media (min-width: 768px) {
.row.is-flex {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
.is-flex > div[class*='col-1']{
    display: flex;
    flex-direction: column;
}
.row.is-flex:after,
.row.is-flex:before {
    display: flex;
}
}
/***www.bootply.com/127827#